* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #FAFAFA;
    --dark-color: #303030;
    --dark-transparent-color: #30303040;
    --border: 1px solid var(--dark-transparent-color);
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

section, 
header {
    padding: 1rem 0;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

h1,
h2 {
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

.wrapper {
    margin: 1rem;
}

.contact__label {
    text-transform: capitalize;
}

.languages .list__item::first-letter {
    text-transform: capitalize;
}

.contact__item,
.list__item {
    padding: .25rem 0;
}

.list {
    max-width: 600px;
}

.history {
    padding: .5rem 0;
}

.history .list {
    padding-top: 1rem;
    list-style-type: disc;
}

.header__name {
    max-width: 250px;
    font-size: 3rem;
}

.history {
    max-width: 800px;
}

.history__place {
    display: block;
}

.section {
    border-top: var(--border);
}

.section__heading {
    position: relative;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.section__heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--dark-color);
}

.section__paragraph {
    max-width: 800px;
}

.intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.intro__subheading {
    margin-top: 1rem;
}

.intro__list-heading {
    margin-top: 2rem;
}

.intro__position-list {
    margin: 1rem 0;
}

.intro__position-item {
    margin: 1rem 0;
}

.consent {
    margin-top: 2rem;
    font-size: .75rem;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
    }
}

@media print, (min-width: 1024px) {
    .section {
        border-top: none;
    }

    .wrapper {
        margin: 2rem;
    }

    .header {
        margin: 1rem 2rem 0 2rem;
        border-bottom: var(--border);
    }

    .content {
        display: flex;
    }

    .info {
        flex-basis: 30%;
        margin-left: 2rem;
        padding-right: 2rem;
        border-right: var(--border);
    }

    .main {
        flex-basis: 70%;
        margin: 0 2rem;
    }

    .main .section {
        border-bottom: var(--border);
    }

    .main .section:last-child {
        border-bottom: none;
    }

    .history__info {
        display: flex;
        justify-content: space-between;
    }
}

@media print {
    body {
        font-size: 11pt;
        line-height: 1.5;
    }

    .wrapper {
        margin: 0;
    }

    .contact__item, .list__item {
        padding: initial;
    }

    .header__name {
        font-size: 2rem;
    }

    .section__heading {
        padding: 0;
    }

    .consent {
        margin: 1rem;
        font-size: .5rem;
    }
}

@page {
    margin: 0;
}